footer
  .container.text-center
    p.float-left © 2018 PerraP, Inc. All Rights Reserved
    ul.float-right.list-inline
      li.list-inline-item
        a(href='https://github.com/sahat/hackathon-starter') Powered by Hackathon Starter
      li.list-inline-item
        a(href='https://github.com/sahat/hackathon-starter/issues') Give feedback
